body {
    background-image: url(https://images.pexels.com/photos/7688374/pexels-photo-7688374.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    opacity: 20px;
    color: aliceblue;
    size: 10px;
}

/*
.form-control,
.form-select {
    width: 40%;
}

.d-grid {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.mainform {
    padding-top: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: darkslategrey;
} */